name: FIVEM_STOP_ZDNCH

on:
  workflow_dispatch:

jobs:
  stop-fivem:
    runs-on: windows-latest
    timeout-minutes: 10

    steps:
      - name: ZDNCH - Stop FXServer
        shell: pwsh
        run: |
          Get-Process FXServer -ErrorAction SilentlyContinue | Stop-Process -Force
          Get-Process node -ErrorAction SilentlyContinue | Stop-Process -Force

      - name: ZDNCH - Close FiveM Firewall
        shell: pwsh
        run: |
          netsh advfirewall firewall delete rule name="FiveM-40120" | Out-Null
          netsh advfirewall firewall delete rule name="FiveM-40120-TCP" | Out-Null

      - name: ZDNCH - Status
        shell: pwsh
        run: |
          Write-Host "FiveM STOPPED"
